*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


:root{
   --top-margin:3rem;
   --bottom-margin:2rem;
}
main{
    font-size:2rem ;
}


label,input,textarea{
    display: block;
}



.training-input div{
    margin-bottom: var(--bottom-margin);
}



textarea{
    width:80%;
}

.training-calc{
    margin-top: var(--top-margin);
}

/* .training-calc{
    display: none;
} */